<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Catálogo - Twins Petshop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-adm-catalogo.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>

    <div class="bg-dark shadow">
        <div class="d-inline-block">
            <a href="/usuario/admin/index"><button class="btn btn-lg btn-secondary m-2">Voltar</button></a>
        </div>
        <div class="d-inline-block">
            <h1 class="fs-2 p-3 text-white m-3">Catálogo</h1>
        </div>
    </div>

    <div class="p-3 m-2 text-center">
        <a href="/usuario/admin/cadastrar_produto"><button class="btn btn-lg w-50 btn-success">Adicionar
                produto</button></a>
    </div>
    <div class="text-center p-3 mb-4 shadow">
        <input type="search" placeholder="Pesquise o nome do produto..." class="rounded w-25 p-1">
        <button class="rounded p-1">Buscar</button>
    </div>
    <% produtos.forEach(produto=> { %>

        <div class="card w-75 mx-auto">
            <div class="card-body">

                <img src="/upload/<%= produto.image %>" class="card-img d-inline" alt="imagem"
                    style="width: 300px; height: 200px">
                <div class="d-inline">

                    <h5 class="card-title p-1"><i>Nome:</i>
                        <%= produto.nomeProduto %>
                    </h5>
                    <h6 class="card-subtitle p-1"><i>Preço:</i>
                        <%= produto.preco %> <b>R$</b>
                    </h6>
                    <h6 class="card-subtitle p-1"><i>Marca:</i>
                        <%= produto.marca %>
                    </h6>
                    <h6 class="card-subtitle p-1"><i>Tipo:</i>
                        <%= produto.tipo %>
                    </h6>
                    <h6 class="card-text  p-1">
                        <%= produto.descricao %>
                    </h6>

                </div>
                <div class="">
                    <form class="d-inline" method="POST" action="/admin/produto/deletar"
                        onsubmit="confirmarDelecao(event, this)">
                        <input type="hidden" name="id" value="<%= produto.id %>">
                        <input type="image" src="/img/excluir.png" class="img-catalogo-itens m-1">
                    </form>
                    <a href="/admin/produto/editar/<%= produto.id %>">
                        <input type="image" src="/img/editar.png" class="img-catalogo-itens m-1">
                    </a>
                </div>
            </div>
        </div>

        <br>
        <% }); %>
            <script>
                function confirmarDelecao(event, form) {
                    event.preventDefault();
                    var decisao = confirm("Você deseja deletar esse produto?");
                    if (decisao) {
                        form.submit();
                    }
                }


            </script>
</body>

</html>